@mixin auth-input-border {
  width: 100%;
  height: 4rem;

  border: solid 2px #f3ecf8;
  border-radius: 2rem;
}

@mixin header-avatar {
  object-fit: cover;
  vertical-align: middle;
  height: $header-user-avatar-size;
  width: $header-user-avatar-size;
  border-radius: 50%;
}

@mixin header-btn-background {
  background: $header-background-color;
  color: $header-font-color;
  border-radius: .3rem;
  padding: 0 1.5rem;
  height: 90%;

  cursor: pointer;

  display: flex;
  align-items: center;
}

@mixin header-btn {
  cursor: pointer;
  border: none;

  @include header-btn-background;

  &:hover {
    background: rgba(0,0,0,.30);
  }

  &:active {
    background: rgba(0,0,0,.35);
    color: $header-font-color;
  }
}

@mixin card-background {
  background-color: white;

  border-radius: .4rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .3);
}

@mixin card_btn {
  background: transparent;
  border: none;
  color: white;

  padding: .6rem .8rem;
  font-size: 140%;

  border-radius: .3rem;
  cursor: pointer;

  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

@mixin card-input-holder {
  & textarea {
    width: 100%;
    height: 7rem;
    padding: 1rem;

    @include card-background;
    border: none;
    outline: none;
    resize: none;

    overflow: hidden;
    overflow-wrap: break-word;

    font-size: 130%;
  }

  & div {
    margin-top: .5rem;
    display: flex;
    align-items: center;

    & > button:first-child {
      @include card_btn;

      background-color: #5aac44;
      margin-right: .5rem;

      &:hover {
        background-color: #6bc154;
      }

      &:active {
        background-color: #489432;
      }
    }
  }
}

@mixin card-module {
  margin-bottom: 2rem;

  &__header {
    margin-bottom: 1rem;

    & .header__title {
      display: flex;
      align-items: center;

      & .title__icon {
        margin-right: 1.5rem;

        & img {
          width: 2rem;
          height: 2rem;
        }
      }

      & .title__text {
        font-size: 200%;
        font-weight: bold;
      }
    }
  }

  &__body {
    margin-left: 3.5rem;
  }
}