@mixin auth-input-border {
  width: 100%;
  height: 4rem;

  border: solid 2px #f3ecf8;
  border-radius: 2rem;
}

@mixin header-avatar {
  object-fit: cover;
  vertical-align: middle;
  height: $header-user-avatar-size;
  width: $header-user-avatar-size;
  border-radius: 50%;
}

@mixin header-btn-background {
  background: $header-background-color;
  color: $header-font-color;
  border-radius: .3rem;
  padding: 0 1.5rem;
  height: 90%;

  cursor: pointer;

  display: flex;
  align-items: center;
}

@mixin header-btn {
  cursor: pointer;
  border: none;

  @include header-btn-background;

  &:hover {
    background: rgba(0,0,0,.30);
  }

  &:active {
    background: rgba(0,0,0,.35);
    color: $header-font-color;
  }
}

@mixin card-background {
  background-color: white;

  border-radius: .4rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .3);
}

@mixin add_card_btn {
  background: transparent;
  border: none;
  color: white;

  padding: .6rem .8rem;
  font-size: 140%;

  border-radius: .3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}