$auth-blue: #5138ee;
$auth-illustration-img-width: 30rem;

$header-height: 4rem;
$header-background-color: rgba(0,0,0,.20);
$header-font-color: rgba(255, 255, 255, .35);
$header-user-avatar-size: calc(#{$header-height} - 1rem);

$board-menu-height: 4.5rem;

$cards-col-width: 30rem;
$card-width: calc(#{$cards-col-width} - 2rem);
$card-font-color: #172b4d;